*.iml
.gradle
/local.properties
/.gradle
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.codegen
/.kotlin
/docs
/.kiro/*
/AGENT.md
/AGENTS.md
/lib_taplink_sdk/src/test/*
/lib_taplink_sdk/sdk_publish.gradle
/lib_taplink_sdk/secring.gpg
/lib_taplink_sdk/gradle.properties
